body {
    background-color: #364958;
    color: #f2f6ff;
    font-family: 'Playfair Display', serif;
    
}

#page {
    position: relative;
    overflow: hidden;
}
h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    text-align: right;
    width: 100%;
    background-color: rgba(28, 38, 46, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    position: fixed;
    transition: background-color .5s;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    
}
nav > ul > li > a {
    
    color: #dedede;
    display: block;
    line-height: 1.1em;
    padding-top: 22%;
    padding-left: .52em;
    padding-right: .52em;
    margin: 0;
    text-decoration: none;
    font-size: 1.65em;
    transition: transform .5s;
    transition-timing-function: ease-out;
}
nav > ul > li > a:hover {
    color: rgba(177, 148, 51, 0.9);
    transform: scale(1.2);
}
#navLogo {
    font-size: 3.3em;
    padding-left: 2%;
    padding-top: 1%;
    transition: transform .5s;
}

#img1 > img {
    max-width: 100%;
    height: auto;
    position: absolute;
    opacity: .15;
    z-index: -1;
}

.blend {
    background-color: rgba(28, 38, 46, .85);
    z-index: 1;
    
}
.shrink {
    transform: scale(.95) translateX(10px);
}
.logo {
    margin-top: 30%;
}
.mainBox {
    height: 800px;
}
